<div class="col-sm-6">
  <h2>Estrel Berlin</h2>
  <p>Sonnenallee 225<br>
  12057 Berlin<br>
  Telefon: <a href="tel:+493068310">+49 30 6831 0</a><br>
  Web: <a href="https://www.estrel.com">https://www.estrel.com</a><br>
  E-Mail: <a href="mailto:hotel@estrel.com">hotel@estrel.com</a></p>
  <br>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading1">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
            Parkmöglichkeiten
          </a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
        <div class="panel-body">
          <p>In der unmittelbaren Umgebung des Estrel Berlin gibt es zwei Parkmöglichkeiten. Zum Einen befindet sich direkt am Estrel Hotel Berlin eine eigene Tiefgarage mit 450 Parkplätzen, welche von der Ziegrastraße befahrbar ist.</p>
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Tiefgarage</th>
                <th>Parkgebühren<br>(Euro)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>bis 1 Stunde</td>
                <td>kostenfrei</td>
              </tr>
              <tr>
                <td>bis 2 Stunde</td>
                <td>4,-</td>
              </tr>
              <tr>
                <td>bis 3 Stunde</td>
                <td>5,-</td>
              </tr>
              <tr>
                <td>bis 4 Stunde</td>
                <td>6,-</td>
              </tr>
              <tr>
                <td>bis 5 Stunde</td>
                <td>7,-</td>
              </tr>
              <tr>
                <td>bis 6 Stunde</td>
                <td>8,-</td>
              </tr>
              <tr>
                <td>bis 7 Stunde</td>
                <td>9,-</td>
              </tr>
              <tr>
                <td>ab der 8. bis zur vollendeten 24. Stunde<br>(Tagespreis)</td>
                <td>18,-</td>
              </tr>
              <tr>
                <td>verlorenes Ticket pro Tag</td>
                <td>18,-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading2">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
            Anreise mit dem Auto
          </a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
        <div class="panel-body">
          <p><b>Aus Richtung Westen / Süden</b><br>
            Von der A2 bzw. der A9 fahren Sie auf die A10 / Berliner Ring, anschließend auf die A115 und folgen danach der A100 Richtung Wilmersdorf / Kurfürstendamm / Flughafen Schönefeld. An der Ausfahrt 26 "Grenzallee" abfahren. Nun bitte der Baustellen-Umleitung über Bergiusstraße, Haberstraße und Neuköllnische Allee folgen, um auf die Grenzallee zu gelangen. An der folgenden Ampelkreuzung links auf die Sonnenallee biegen und nach ca. 500 Metern befindet sich das Estrel Berlin auf der rechten Seite.
          </p>
          <p><b>Aus Richtung Norden</b><br>
            Von der A24 Dreieck Havelland fahren Sie auf die A10 / Berliner Ring Richtung Berlin. Anschließend auf die A111 Richtung Flughafen Tegel / Berlin-Zentrum / Berlin-Reinickendorf.  Danach auf die A100 und an der Ausfahrt 26 "Grenzallee" abfahren. Nun bitte der Baustellen-Umleitung über Bergiusstraße, Haberstraße und Neuköllnische Allee folgen, um auf die Grenzallee zu gelangen. An der folgenden Ampelkreuzung links auf die Sonnenallee biegen und nach ca. 500 Metern befindet sich das Estrel Berlin auf der rechten Seite.
          </p>
          <p><b>Aus Richtung Osten</b><br>
            Von der A13 bzw. der A12 / A10 fahren Sie am "Schönefelder Kreuz" auf die A113 Richtung Berlin-Zentrum. An der Ausfahrt "Grenzallee" abfahren. Nun bitte der Baustellen-Umleitung über Bergiusstraße, Haberstraße und Neuköllnische Allee folgen, um auf die Grenzallee zu gelangen. An der folgenden Ampelkreuzung links auf die Sonnenallee biegen und nach ca. 500 Metern befindet sich das Estrel Berlin auf der rechten Seite.
          </p>
          <p><b>Vom Flughafen Berlin Tegel (TXL)</b><br>
            An der Auffahrt "Saatwinkler Damm" auf die A111 Richtung Dresden / Magdeburg / Leipzig / Zentrum, weiter auf die A100. An der Ausfahrt "Grenzallee" abfahren. Nun bitte der Baustellen-Umleitung über Bergiusstraße, Haberstraße und Neuköllnische Allee folgen, um auf die Grenzallee zu gelangen. An der folgenden Ampelkreuzung links auf die Sonnenallee biegen und nach ca. 500 Metern befindet sich das Estrel Berlin auf der rechten Seite.
          </p>
          <p><b>Vom Flughafen Berlin Schönefeld (SXF)</b><br>
            Am Flughafen rechts auf Am Seegraben / B96a, dann links auf die A113. Auf A113 Richtung Berlin-Zentrum. An der Ausfahrt "Grenzallee" abfahren. Nun bitte der Baustellen-Umleitung über Bergiusstraße, Haberstraße und Neuköllnische Allee folgen, um auf die Grenzallee zu gelangen. An der folgenden Ampelkreuzung links auf die Sonnenallee biegen und nach ca. 500 Metern befindet sich das Estrel Berlin auf der rechten Seite.<br><br>
Die Berliner Innenstadt (innerer S-Bahn Ring) gilt als Umweltzone und eine Einfahrt ist nur mit einer grünen Plakette gestattet. Das Estrel liegt außerhalb dieses Bereichs, so dass keine Plakette erforderlich ist.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading3">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
            Anreise mit Öffentlichen Verkehrsmitteln
          </a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
        <div class="panel-body">
          <p><b>Hauptbahnhof</b><br>
            Buslinie M41 bis Haltestelle "Ziegrastraße"<br>
            Fahrzeit ÖPNV: ca. 40 Minuten<br>
            Fahrzeit Taxi: ca. 30 Minuten<br>
            Fahrpreis Taxi: ca. Euro 20,-
          </p>
          <p><b>Südkreuz</b><br>
            S-Bahn-Linie S42 (Ringbahn) bis Haltestelle "Sonnenallee"<br>
            Fahrzeit ÖPNV: ca. 20 Minuten<br>
            Fahrzeit Taxi: ca. 20 Minuten<br>
            Fahrpreis Taxi: ca. Euro 18,-
          </p>
          <p><b>Ostbahnhof</b><br>
            S-Bahn-Linien S5, S75 oder S9 bis "Ostkreuz", umsteigen auf S-Bahn-Linie S41 (Ringbahn) bis Haltestelle "Sonnenallee".<br>
            Fahrzeit ÖPNV: ca. 20 Minuten<br>
            Fahrzeit Taxi: ca. 20 Minuten<br>
            Fahrpreis Taxi: ca. Euro 16,-<br>
          </p>
          <p><b>Tickets Öffentliche Verkehrsmittel</b><br>
            Für die Anreise mit Öffentlichen Verkehrsmitteln benötigen Sie einen Einzelfahrausweis Tarifbereich AB für Euro 2,70 (außer bei Anreise ab Flughafen Berlin-Schönefeld SXF Einzelfahrausweis Tarifbereich ABC für Euro 3,30). Tickets erhalten Sie am BVG-Schalter, am Automaten an den S- und U-Bahn-Stationen oder beim Busfahrer (hier Kleingeld bereithalten).
          </p>
        </div>
      </div>
    </div>
  </div>
  <h3>Karte:</h3>
  <p><iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAE1ey_-hiH_DI6J39vjI51rgM1zHXl2Pk&q=Estrel+Berlin" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="100%" height="450" allowfullscreen></iframe></p>
</div>
