<div class="col-sm-6">
  <h1>Shuttle Service</h1>
  <br>
  <p>Organisator: <b>InterKlassik</b><br>
    Telefon: <a href="tel:+493068277445">+49 30 682 77445</a><br>
  <p>Wer ausserhalb der unten aufgeführten Zeiten an- oder abreist muss sich individuell organisieren. Taxi-Fahrgemeinschaften sind soweit möglich zu empfehlen. Für die Nutzung der öffentlichen Verkehrsmittel ist unter Dokumente der S-Bahn Plan von Berlin zu finden.</p>
  <p>Die Standorte der Shuttlebusse findet Ihr entsprechend der Skizzen unter dem Menüpunkt <a href="{% url 'documents' %}">Dokumente</a> und unter den jeweiligen Fahrzeiten.</p>
  <p>Dispatcher findet ihr sowohl am Flughafen als auch am Hauptbahnhof, sie sind anhand eines EMC-Schildes zu erkennen.</p>
  <br>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Montag, 25.01.2016 - Abfahrt Flughafen Berlin-Tegel nach Hotel Estrel<br>Shuttle stehen: Hauptausgang, Terminal A, dann rechts</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>08:00 Uhr</td>
      </tr>
      <tr>
        <td>08:20 Uhr</td>
      </tr>
      <tr>
        <td>08:40 Uhr</td>
      </tr>
      <tr>
        <td>09:00 Uhr</td>
      </tr>
      <tr>
        <td>09:20 Uhr</td>
      </tr>
      <tr>
        <td>09:50 Uhr</td>
      </tr>
    </tbody>
  </table>
  <div id="tegel"></div>
  <br>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Dienstag, 26.01.2016 - Abfahrt Hauptbahnhof nach Hotel Estrel<br>Shuttle stehen: Hauptbahnhof (Ausgang Europaplatz, über die Ampelkreuzung)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>11:20 Uhr</td>
      </tr>
      <tr>
        <td>11:40 Uhr</td>
      </tr>
      <tr>
        <td>12:20 Uhr</td>
      </tr>
      <tr>
        <td>12:40 Uhr</td>
      </tr>
      <tr>
        <td>13:10 Uhr</td>
      </tr>
      <tr>
        <td>13:30 Uhr</td>
      </tr>
      <tr>
        <td>13:50 Uhr</td>
      </tr>
    </tbody>
  </table>
  <div id="hbf"></div>
  <br>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Mittwoch, 27.01.2016 – Abfahrt Hotel Estrel nach Hauptbahnhof</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>08:30 Uhr</td>
      </tr>
      <tr>
        <td>09:30 Uhr</td>
      </tr>
      <tr>
        <td>10:00 Uhr</td>
      </tr>
      <tr>
        <td>10:30 Uhr</td>
      </tr>
      <tr>
        <td>10:50 Uhr</td>
      </tr>
      <tr>
        <td>11:30 Uhr</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Mittwoch, 27.01.2016 – Abfahrt Hotel Estrel nach Flughafen Tegel</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>06:10 Uhr</td>
      </tr>
      <tr>
        <td>07:15 Uhr</td>
      </tr>
      <tr>
        <td>08:15 Uhr</td>
      </tr>
      <tr>
        <td>09:00 Uhr</td>
      </tr>
      <tr>
        <td>10:10 Uhr</td>
      </tr>
      <tr>
        <td>12:15 Uhr</td>
      </tr>
      <tr>
        <td>13:10 Uhr</td>
      </tr>
      <tr>
        <td>14:15 Uhr</td>
      </tr>
      <tr>
        <td>15:00 Uhr</td>
      </tr>
      <tr>
        <td>15:30 Uhr</td>
      </tr>
      <tr>
        <td>16:00 Uhr</td>
      </tr>
    </tbody>
  </table>

</div>
