{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="EMC Project Phoenix II">
    <meta name="author" content="Christopher Banck">
    <meta name="author" content="Ulrich Hölscher">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@emc_phoenix" />
    <meta name="twitter:creator" content="@chrisbanck" />
    <meta name="twitter:title" content="EMC Townhall 2016 - Project Phoenix II" />
    <meta name="twitter:description" content="Die offizielle Webseite zum Event. Hier findet ihr die Agenda, Informationen zur Unterkunft und mehr." />
    <meta name="twitter:image" content="http://static.130912094780649010.public.ecstestdrive.com/img/twitter_card.jpg" />
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'img/favicon.ico' %}">

    <title>Project Phoenix II</title>
    {% include 'head_css.html' %}
    {% block head_css %}{% endblock %}
  </head>

  <body>

    {% include 'navbar.html' %}

    {% block content %}{% endblock %}

    {% include 'footer.html' %}

    {% include 'javascript.html' %}
    {% block javascript %}{% endblock %}
  </body>

</html>
