{% load staticfiles %}
<footer>
  <div class="container">
             <div class="row bottom-70 bottom-sm-0">
                 <div class="col-sm-3 " >
                     <div class="footer-section">
                         <h4>About Us</h4>
                         <p><a href="overview.htm">Conference Details</a><br><br class="hidden-lg">
                             <a href="faqs.htm">FAQ</a><br><br class="hidden-lg">
                             <a href="http://www.emc.com/emc-plus/index.htm" target="_blank">EMC+ News</a><br />
                             <a href="http://www.emc.com/social-emc/social.htm" target="_blank">EMC SocialSphere</a></p>
                     </div>
                 </div>
                 <div class="col-sm-3 " >
                     <div class="footer-section">
                         <h4>Contact Us</h4>
                         <p>Questions? Contact the EMC Phoenix Team. </p>
                         <p>Mail: <a href="mailto:phoenix.townhall2016@emc.com">phoenix.townhall2016@emc.com</a><br><br class="hidden-lg"></p>
                     </div>
                 </div>
                 <div class="col-sm-3 " >
                     <div class="footer-section">
                         <h4>Mailing List</h4>
                         <p>Get the latest updates from EMC World.</p>
                         <p><a href="mailto:emcworld@EMC.com">emcworld@EMC.com</a></p>
                     </div>
                 </div>
                 <div class="col-sm-3 " >
                     <div class="footer-section last clearfix">
                         <h4>Join Our Communities</h4>
                         <p>Connect with us for all the up-to-date news about EMC.</p>
                         <p>Also <a href="https://community.emc.com/index.jspa" target="_blank">join the EMC Community Network</a> and get answers/advice from industry experts.</p>
                         <ul id="footer-social">
                             <li><a href="https://www.facebook.com/emccorp/" target="_blank" class="btn-footer-fb">
                             <img src="{% static 'img/icon_footer_fb_2x.png' %}" width="11" height="22"></a></li>
                             <li><a href="http://twitter.com/emc_de" target="_blank" class="btn-footer-twitter">
                             <img src="{% static 'img/icon_footer_twitter_2x.png' %}" width="21" height="18"></a></li>
                             <li><a href="https://www.linkedin.com/company/emc" target="_blank" class="btn-footer-linkedin">
                             <img src="{% static 'img/icon_footer_linkedin_2x.png' %}" width="19" height="18"></a></li>
                             <li><a href="http://www.youtube.com/emccorp" target="_blank" class="btn-footer-youtube">
                             <img src="{% static 'img/icon_footer_youtube_2x.png' %}" width="26" height="17"></a></li>
                         </ul>
                     </div>
                 </div>

              </div>

              <div class="row">
                 <div class="col-xs-7 col-sm-10 copyright-area" >

                         <p>&copy; 2015 EMC Corporation.<br class="visible-xs-block"> All rights reserved.<br class="visible-xs-block"> <a href="http://www.emc.com/site/privacy.jsp" target="_blank">Privacy Policy</a> <a href="http://www.emc.com/site/legal.jsp?openfolder=legal_info" target="_blank">Terms of Use</a></p>

                 </div>
                 <div class="col-xs-5 col-sm-2 " >
                     <a href="http://www.emc.com"><img src="{% static 'img/logo_emc_footer.png' %}" class="img-responsive pull-right logo-footer" alt="EMC Logo"></a>
                 </div>


             </div>
         </div>
</footer>
