boto
celery
django
django-allauth
django-dbbackup
django-celery-email
django-cleanup
django-crispy-forms
django-filter
django-resized
django-simple-captcha
djangorestframework
django-storages-redux
dj-database-url
markdown
mysqlclient
newrelic
psycopg2
tweepy
waitress
