{% extends "base.html" %}
{% load staticfiles %}
{% block head_css %}
<link href="{% static 'css/blueimp-gallery.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row row-content">
    <div class="col-sm-12 col-md-12">
      <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
      </div>
      <div id="links">
        {% for tweetpic in tweetpics %}
        <a href="{% url 'tweetpic' tweetpic.id %}?size=large">
          <img src="{{ tweetpic.pic_thumb.url }}">
        </a>
        {% endfor %}
      </div>
      <div id="pagination" class="text-center">
        <nav>
          <ul class="pagination">
            {% if tweetpics.has_previous %}
            <li>
              <a href="?page={{ tweetpics.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% endif %}
            {% if tweetpics.number|add:"-2" > 0 %}
            <li><a href="?page={{ tweetpics.number|add:"-2" }}">{{ tweetpics.number|add:"-2" }}</a></li>
            {% endif %}
            {% if tweetpics.number|add:"-1" > 0 %}
            <li><a href="?page={{ tweetpics.number|add:"-1" }}">{{ tweetpics.number|add:"-1" }}</a></li>
            {% endif %}
            <li class="active"><a href="?page={{ tweetpics.number }}">{{ tweetpics.number }}</a></li>
            {% if tweetpics.number|add:"1" <= tweetpics.paginator.num_pages %}
            <li><a href="?page={{ tweetpics.number|add:"1" }}">{{ tweetpics.number|add:"1" }}</a></li>
            {% endif %}
            {% if tweetpics.number|add:"2" <= tweetpics.paginator.num_pages %}
            <li><a href="?page={{ tweetpics.number|add:"2" }}">{{ tweetpics.number|add:"2" }}</a></li>
            {% endif %}
            {% if tweetpics.has_next %}
            <li>
              <a href="?page={{ tweetpics.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
      <br>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/blueimp-gallery.min.js' %}"></script>
<script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>
{% endblock %}
