#!/bin/bash

export VCAP_SERVICES='{
      "user-provided": [
        {
          "name": "ecs",
          "label": "user-provided",
          "tags": [],
          "credentials": {
            "ACCESS_KEY_ID": "1234567890@ecstestdrive.emc.com",
            "HOST": "object.ecstestdrive.com",
            "SECRET_ACCESS_KEY": "1234567890",
            "PUBLIC_URL": "1234567890.public.ecstestdrive.com",
            "STATIC_BUCKET": "static",
            "MEDIA_BUCKET": "public",
            "SECURE_BUCKET": "secure"
          },
          "syslog_drain_url": ""
        },
        {
          "name": "mail",
          "label": "user-provided",
          "tags": [],
          "credentials": {
            "HOST": "smtp.domain.local",
            "PASSWORD": "12345689",
            "PORT": "25",
            "TLS": "True",
            "USER": "django@domain.local",
          },
          "syslog_drain_url": ""
        },
        {
          "name": "twitter",
          "label": "user-provided",
          "tags": [],
          "credentials": {
            "ACCESS_TOKEN": "123456",
            "ACCESS_TOKEN_SECRET": "123456",
            "CONSUMER_KEY": "123456",
            "CONSUMER_SECRET": "123456"
          },
          "syslog_drain_url": ""
        },
        {
          "name": "config",
          "label": "user-provided",
          "tags": [],
          "credentials": {
            "ADMINS": "[(User, user.name@domain.local)]",
            "DEBUG": "True",
            "DEFAULT_FROM_EMAIL": "noreply@domain.local",
            "DEFAULT_TO_EMAIL": "admin@domain.local",
            "SECRET_KEY": "1234-t8j*i5a7^y9@d^$at#g0!j_h=h++5stj=nb7z8u#l_y#&",
            "SERVER_EMAIL": "django@domain.local"
        },
        {
          "name": "rabbitmq",
          "credentials": {
            "uri": "amqp://guest:guest@localhost"
          }
        }
      ],
      "memcache": [
        {
          "name": "phoenix_memcached"
        }
      ],
      "redis": [
        {
          "name": "phoenix_redi",
          "credentials": {
            "hostname": "127.0.0.1",
            "password": "",
            "port": "6379"
          }
        }
      ]
}'

#export DATABASE_URL='sqlite:///db.sqlite.db'
export DATABASE_URL='postgres:///phoenix'
